.thumbnail{
    padding: 35px;
    border: 2px solid black;
    /* margin: 23px 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: dashed;
    cursor: pointer;
}
.form input{
    /* background-color: #fff; */
    background-color: rgb(249 250 251/1);

    border-color: #b3b3b3;
    line-height: 1.25rem;
    color: rgb(17 24 39);
    border-radius: 7px 7px 7px 7px;
    border: 1px solid #818a91;
    padding: 0.5rem 1rem;
    font-size: 15px;
    min-height: 48px;
    /* color: #777385; */
    font-weight: 500;
}
.form input:focus{
   outline: none;
}
.form 
label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25rem;
  color: rgb(17 24 39);
}

.clearButton{
    cursor: pointer;
    margin: 23px 0;
    text-align: end;
    font-size: 17px;
    color: red;
    text-decoration: underline;
}

.btn{
    border: none;
    color: white;
    background-color: black;
    padding: 12px 30px;
    border-radius: 8px;
    margin: auto;
    display: block;
}